body {
    background: linear-gradient(135deg, #000, #1a1a1a);
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #111;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    box-shadow: 0 0 20px #00ffcc;
}

#dropArea {
    border: 2px dashed #00ffcc;
    padding: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

#fileInput {
    display: none;
}

#preview {
    width: 100%;
    margin-top: 10px;
    display: none;
    border-radius: 10px;
}

button {
    padding: 10px;
    background: #00ffcc;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

a {
    display: none;
    margin-top: 15px;
    color: yellow;
}