body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

.container {
    margin-top: 100px;
}

input, select, button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

button {
    background: #00ffcc;
    border: none;
    cursor: pointer;
}

a {
    display: block;
    margin-top: 20px;
    color: yellow;
}